/* global style */
body{
    background-color: black;
}
.d-flex{
display: flex;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-center{
    justify-content: center;
}






/* header style */
.logo{
    width: 58px;
    height: 48px;
}
header{
    margin-left: 5px;
}
header h1{
    display: none;
    font-family: 'Kiwi Maru', serif;

}
header ul{
    gap:17px

    
}
nav li a{
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-family: 'Kiwi Maru', serif;
}
header li a:hover{
    color: gray;
}
header li a.active{
    color: gray;
}
/* section style */


.text-box span{
font-size: 13px;
color: white;
background-color: #494848;
width: 129px;
height: 20px;
padding: 7px;
border-radius: 30px;
font-family: 'Karma', serif;
}
.text-box p{
 font-size: 13px;
 color: white;
 width: 260px;
margin-top: 10px;
margin-bottom: 15px;
font-family: 'Karma', serif;}
.me{
    opacity: 0.3;
  width: 50%;

}
/* footer style */
footer p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 7px;
    font-family: 'Kiwi Maru', serif;
}

footer{
    background-color: grey;
    height: 150px;
    width: 100%;


}
footer nav li a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Kiwi Maru', serif;
}
.footer-nav{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: px;
    gap:15px
   
}
footer a:hover{
    color: white;
    
}









/*  media rules */




/*  notebook/PCs  ---  1200 - 1400   */
@media screen and (min-width: 1200px) {
    header{
        margin-left: 40px;
    }
    .logo{
        width: 168px;
        height: 156px;
    }
    
    header h1{
        color: white;
        display: block;
        font-size: 32px;
        padding-left: 50px;
    }
    header ul{
        gap:77px;
        
    }
    nav li a{
        font-size: 25px;
        margin-right: 40px;
    }
    .text-box span{
        font-size: 24px; 
         width: 363px;
         height: 30px;
         padding: 7px;
border-radius: 30px;
    }
    .text-box p{
        font-size: 24px;
        color: white;
        width: 680px;
        margin-top: 50px;
        margin-bottom: 38px;
    }
    .me{
        opacity: 0.3;
      width: 50%;
  
    }
    footer p{
        color: rgb(0, 0, 0);
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 15px;

    }
    
    footer{
        background-color: grey;
    height: 200px;
    
    }
    footer nav li a{
        color: rgb(11, 11, 11);
        font-size: 30px;
    
    }
    .footer-nav{
        margin-top: 15px;
        margin-bottom: 20px;
        margin-left: 50px;
        gap:15px
       
    }
    .footer-nav1{
        margin-left: 20px;
        gap:20px
    }
        
       
   
    
}

/*  notebook/PCs  ---  1400+   */
@media screen and (min-width: 1400px) {
    header{
        margin-left: 40px;
    }
    .logo{
        width: 168px;
        height: 156px;
    }
    header h1{
        color: white;
        display: block;
        font-size: 32px;
    }
    header ul{
        gap:77px;  
    }
    nav li a{
        font-size: 25px;
        margin-right: 40px;

    }
    header li a:hover{
        color: gray;
    }
    .text-box span{
          
            font-size: 24px; 
             width: 363px;
             height: 30px;
             border-radius: 30px;
             padding: 7px;

        }
        .text-box p{
            font-size: 24px;
            color: white;
            width: 680px;
            margin-top: 50px;
            margin-bottom: 38px;
        }
        .me{
            opacity: 0.3;
           width: 50%;
            margin-left: 300px;
         
        }
        footer p{
            color: rgb(0, 0, 0);
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 35px;
            padding-bottom: 15px;
    
        }
        
        footer{
            background-color: grey;
        height: 200px;
        
        }
        footer nav li a{
            color: rgb(11, 11, 11);
            font-size: 30px;
        
        }
        .footer-nav{
            margin-top: 15px;
            margin-bottom: 20px;
            margin-left: 50px;
            gap:15px
           
        }
        .footer-nav1{
            margin-left: 20px;
            gap:20px
        }
        
}